// Import common styles
@import "app-common";
@import "home";

// Place any CSS rules you want to apply only on iOS here

.class1 {
  vertical-align: middle;
  display: inline-block;
  line-height: 1em;
  font-family: 'Anton', sans-serif;
  letter-spacing: -.04em;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}
